*{
    padding: 0;
    margin: 0;
    line-height: 1.4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

img{
width: 46px;
height: 46px;
}

.container{
    background-color: rgb(156, 194, 227);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    position: relative;
    background-color: #fff;
    max-height: 100%;
    width: 30%;
    padding: 40px 60px;
    text-align: center;
}

.xbutton{
    position: absolute;
    top: 12px;
    right: 20px;
    padding: 5px 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.showcase h3{
    margin-bottom: 18px;
}

.desc{
    margin-bottom: 30px;
}

.row{
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin: 18px;
    gap: 12px;
    padding-left: 10px;
}

.consent{
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-bottom: 14px;
}

.consent p{
    font-size: 9px;
}

input[type="checkbox"]{
    width: 14px;
    height: 14px;
    border: 5px solid black;
}

.btn{
    color: rgb(61, 143, 171);
    cursor: pointer;
}